= form_for Trend.new, html: { class: 'form-inline' } do |f|
  = f.text_field :query, class: 'input-medium', placeholder: 'What'
  = f.text_field :location, class: 'input-medium', placeholder: 'Where'
  = f.submit :submit, class: 'btn btn-primary', value: 'add'
